.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 20px;
        margin-left: -1.5px;
    }

    .timeline > li {
        position: relative;
        //border-bottom: 1px solid #eee;
        margin-left: 20px;
        padding-top: 10px;
        padding-left: 25px;
    }

    .timeline-badge {
        background-color: #999999;
        color: #fff;
        width: 29px;
        height: 29px;
        line-height: 29px;
        font-size: 1em;
        text-align: center;
        position: absolute;
        top: 6px;
        left: -15px;
        margin-left: 0px;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .timeline-avatar {
        @extend .timeline-badge;
    }

    .timeline-comment .timeline-badge {
        top: 17px !important;
    }

    .timeline-comment {
        .panel-heading:before {
            position: absolute;
            top: 18px;
            left: 14px;;
            display: inline-block;
            border-top: 12px solid transparent;
            border-left: 0px solid #BCE8F1;
            border-right: 12px solid #BCE8F1;
            border-bottom: 12px solid transparent;
            content: " ";
        }

        .panel-heading:after {
            position: absolute;
            top: 19px;
            left: 15px;
            display: inline-block;
            border-top: 11px solid transparent;
            border-left: 0px solid #D9EDF7;
            border-right: 11px solid #D9EDF7;
            border-bottom: 11px solid transparent;
            content: " ";
        }
        border-bottom-style: none !important;
        padding-bottom: 0px;
        margin-bottom: -12px;
    }